In [1]:
!pip install pillow
from PIL import Image,ImageDraw,ImageFont,ImageOps

Requirement already satisfied: pillow in c:\a\lib\site-packages (8.0.1)

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("frameCSV.csv")

In [4]:
df

,transaction id check done??,Name,Student ID,Upload Your decent Photo,Unnamed: 4,Unnamed: 5,id
0,True,Shihab uddin,1909029,https://drive.google.com/open?id=13O6WlHllfpaW...,NaN,NaN,1
1,True,Md Sadik Imtiaz,1902076,https://drive.google.com/open?id=1yxmIQxCbWY0o...,NaN,NaN,2
2,True,Md Shahadat Hossain,1912012,https://drive.google.com/open?id=1KpXadRzGAMy7...,NaN,NaN,3
3,True,Estiak Ahmmed Fahim,1903174,https://drive.google.com/open?id=1TodWMlexruOj...,NaN,NaN,4

In [5]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
records=df.to_dict(orient='record')

C:\a\lib\site-packages\pandas\core\frame.py:1485: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  warnings.warn(

In [7]:
def generate_frame(data):
    im1=Image.open(f"photos/{data['id']}.jpg").resize((1170,1175),Image.ANTIALIAS)
    im2=Image.open("template.png")
    mask = Image.new("L", im1.size, 0)
    draw = ImageDraw.Draw(mask)

    draw.ellipse((0,0)+ im1.size, fill=255,outline ="white")
    im = ImageOps.fit(im1, mask.size, centering=(0.4,0.4))
    mask = mask.resize(im.size, Image.ANTIALIAS)
    im.putalpha(mask)

    im2.paste(im,(720,120),im)
    font=ImageFont.truetype("font/Acme-Regular.ttf",size=120)
    image_editable = ImageDraw.Draw(im2)
    image_editable.text((120,1570), data['Name'],
                         font=font,fill='white')
    image_editable.text((120, 1688), str(data['Student ID']),  font=font,fill='white')
    return im2

In [8]:
frame=generate_frame(records[3])

In [9]:
for record in records:
    frame=generate_frame(record)
    frame.save(f"frame/{record['Student ID']}.png")